<button>Add</button>
<!-- <form class="form" #form="ngForm">
    <label>Full Name:</label>
    <input type="text" [(ngModel)]="addCustomer.name" [(ngModel)]="selectedCustomer.name" id="fullname" name="fullname"
        placeholder="Enter Full Name" required />
    <label>Age:</label>
    <input type="number" [(ngModel)]="addCustomer.age" [(ngModel)]="selectedCustomer.age" id="number" name="number"
        placeholder="Enter Age" />
    <label>Phone:</label>
    <input type="number" [(ngModel)]="addCustomer.phone" [(ngModel)]="selectedCustomer.phone" ngModel id="phone"
        name="phone" placeholder="Enter Phone" />
    <label>Address:</label>
    <input type="text" [(ngModel)]="addCustomer.address" [(ngModel)]="selectedCustomer.address" id="address"
        name="address" placeholder="Enter Address" />
</form> -->