<app-add></app-add>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let listCustomer of listCustomer; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ listCustomer.name }}</td>
            <td>{{ listCustomer.age }}</td>
            <td>{{ listCustomer.phone }}</td>
            <td>{{ listCustomer.address }}</td>
            <td>
                <app-update></app-update>
                <app-delete></app-delete>
            </td>
        </tr>
    </thead>
</table>